

<div class="modal fade" id="modal-dialog-confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="icon">
                            <div class="imagered"><i class="fa fa-thumbs-o-up"></i></div>
                            <div class="info">
                                <h3 style="color:black" id="modal-dialog-confirmation-messageTitle" class="title"></h3>
                                <p style="color:black" id="modal-dialog-confirmation-messageText"></p>
                            </div>
                        </div>
                        <div class="space"></div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a id="modal-dialog-confirmation-aConfirm" onclick="" class="btn btn-sm btn-success">Confirm</a>

                <a href="javascript:;" class="btn btn-sm btn-blue-grey" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>