
@using LegendCR.CommonDefinitions.DTO.PickupDTOs
@model List<PickupItemDTO>

<div class="Table-container Max-height">
    <table class="table">
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Status</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.VendorProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.Price</td>
                    <td class="status-td"><span class="status-Table Blue">@item.StatusName</span></td>
                </tr>
            }
        </tbody>
    </table>
</div>