
<select class="form-control select" required id="Department" name="Department">
    <option value="">--- Select Department ---</option>
    <option value="Account Manger">Account Manger</option>
    <option value="Accounting">Accounting</option>
    <option value="Branch Manger">Branch Manger</option>
    <option value="Storage">Storage</option>
    <option value="Data Entry">Data Entry</option>
    <option value="Call Center">Call Center</option>
</select>