
 @model int 
   <tr style="background-color:white">
            <td colspan="@Model" class="noBorder myFont">
                <img style="margin-top:-90px;" src="~/dist/images/RED 3.png" height="100" />
                <label style="margin-left:55%">
                    Address: 9 Mohamed Aref st.<br>
                    Sheshiny, Maryoteya, Fisal<br>
                    E-mail: contact@redexpressegy.com<br>
                    Facebook: redexpressegy<br>
                    Mobile: 01030003314
                </label>
            </td>
        </tr>