
@using DicomApp.CommonDefinitions.DTO
@using DicomApp.Helpers
@using DicomApp.BL.Services
@model List<UserDTO>
<main>
    <div class="container-fluid site-width">
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header d-flex">
                    <span class="Header-Titel">Courier's Orders</span>
                </div>
            </div>
        </div>
    </div>
    @*<div class="Shipment-container">
    <div class="row Red-Row">
    @{
    await Html.RenderPartialAsync("_ToolsRow", new OptionDTO
    {
    Action = "Courier",
    Controller = "Warehouse",
    Columns = 6,
    SelectListType = new byte[] { (byte)EnumSelectListType.Courier }
    });
    }
    </div>
    </div>*@
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    <div class="Table-container">
        <table class="table" id="Table">
            <partial name="_Courier" />
        </table>
    </div>
</main>