
@using DicomApp.CommonDefinitions.DTO.ShipmentDTOs
@model ShipDTO

<main>
    <div class="container-fluid site-width">
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header">
                    <span class="Header-Titel">Receive Returns</span>
                </div>
            </div>
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <p class="Shipment-Details-Titel-Small">Shipment Details</p>
            </div>
        </div>
    </div>
    <div class="Shipment-container">
        @*<form style="width:95%" class="needs-validation" method="post" id="ReceiveReturn" action="@Url.Action("ReceiveReturn")">*@
        <div style="width:95%">
            <div class="row Red-Row ml-4 Shipment-Details-Section">
                <div class="col-lg-5">
                    <label class="Shipment-Details-label">Courier</label>
                    @Html.DropDownListFor(model => model.DeliveryManId, new SelectList(ViewBag.Couriers, "Id", "Name"), "--- Select Courier ---", new { @class = "form-control ", @id = "CourierChangeVal", @onChange = "ReceiveReturnsChange()" })
                    <div class="invalid-feedback">
                        Please Select Courier.
                    </div>
                </div>
                <div class="col-lg-7 pt-3">
                    <div class="row pt-3" id="divRadioButtonList">
                        <div class="col-lg-4">
                            <input type="radio" id="rdbNotDelivered" name="rdbFilter" value="0" checked="checked" onclick="rdbReturnFilterChange('rdbNotDelivered')" />
                            <label class="Shipment-Details-label" for="rdbNotDelivered">Not Delivered / Postpone</label>
                        </div>
                        <div class="col-lg-3">
                            <input type="radio" id="rdbPartialDelivery" name="rdbFilter" value="2" onclick="rdbReturnFilterChange('rdbPartialDelivery')" />
                            <label class="Shipment-Details-label" for="rdbPartialDelivery">Partial Delivery</label>
                        </div>
                        <div class="col-lg-2">
                            <input type="radio" id="rdbCancelled" name="rdbFilter" value="1" onclick="rdbReturnFilterChange('rdbCancelled')" />
                            <label class="Shipment-Details-label" for="rdbCancelled">Cancelled</label>
                        </div>
                        <div class="col-lg-3">
                            <input type="radio" id="rdbRefund" name="rdbFilter" value="3" onclick="rdbReturnFilterChange('rdbRefund')" />
                            <label class="Shipment-Details-label" for="rdbRefund">Refunded</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pt-3">
                    <div class="Game-Type-Section">
                        <label class="Shipment-Details-label">
                            Returns
                        </label>
                        <div class="Game-Type h-auto" id="dvcodes">
                            <ul>
                                <li><label>No Data</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row Red-Row w-100">
                <div class="col-lg-12 RedBtn-Section">
                    <button type="button" onclick="ReceiveReturn()" class="Red-Btn">
                        <img class="mr-2" src="~/dist/images/Icons/Shipped.png" /> Confirm
                        <span class="Spinner spinner-border spinner-border-sm ml-2 d-none" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
        @*</form>*@
    </div>
</main>