
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.Helpers;
@using DicomApp.BL.Services;
@using DicomApp.DAL.DB;
@model ViewModel<GameDTO>
<main>
    <div class="container-fluid site-width">
        <!-- START: Filter-->
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header py-5">
                    <div>
                        <span class="Header-Titel">Packaging Stock Report</span>
                    </div>
                </div>
                <div class="Box-Info">
                    <div>
                        <span class="Yellow-info-Bg"><img src="~/dist/images/Icons/Total.png"></span>
                        <p>Total Items</p>
                        <b>@(Model.ObjDTOs.Sum(s => s.ShipDTOs.Count()) + 0)</b>
                        <img class="Img-Box-info" src="~/dist/images/box.png">
                    </div>
                    <div>
                        <span class="Yellow-info-Bg"><img src="~/dist/images/Icons/Shipped.png"></span>
                        <p>Used Stock</p>
                        <b>@Model.ObjDTOs.Sum(s => s.ShipDTOs.Count())</b>
                        <img class="Img-Box-info" src="~/dist/images/box.png">
                    </div>
                    <div>
                        <span class="Yellow-info-Bg"><img src="~/dist/images/Icons/Remaining.png"></span>
                        <p>Remaining Stock</p>
                        <b>0</b>
                        <img class="Img-Box-info" src="~/dist/images/box.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Filter-->
    <div class="Shipment-container">
        <!-- Start: Filter-->
        <div class="row Red-Row">
            @{
                await Html.RenderPartialAsync("_ToolsRow",
                new OptionDTO 
                {
                Lookup = Model.Lookup,
                Action = "Games",
                Controller = "Report",
                SelectListType = new byte[] {
                      (byte)EnumSelectListType.Category,
                      (byte)EnumSelectListType.Quantity
                    }
                });
            }
        </div>
        <!-- END  : Filter-->
    </div>
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    <div class="Table-container">
        <table class="table" id="Red-Table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Size</td>
                    <td>Number</td>
                    <td class="text-center">Image</td>
                </tr>
            </thead>
            <tbody>
                <partial name="/Views/Report/Game/_Games.cshtml" model="Model.ObjDTOs" />
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        @{
                            await Html.RenderPartialAsync("_Pagination", new OptionDTO { Action = "Games", Controller = "Report", Count = Model.ObjDTOs.Count });
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <!-- START: Card Data-->
</main>