@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO.CashDTOs
@using DicomApp.Helpers;
@using DicomApp.BL.Services;
@model ViewModel<TransactionDTO>
<main>
    <div class="container-fluid site-width">
        <!-- START: Filter-->
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header mb-3">
                    <span class="Header-Titel">Transction List</span>
                </div>
            </div>
        </div>
    </div>
    <div class="Shipment-container">
        <!-- Start: Filter-->
        <div class="row Red-Row">
            @{
                await Html.RenderPartialAsync("_ToolsRow",
                new OptionDTO
            {
                Action = "AllTransaction",
                Controller = "Invoice",
                Lookup = Model.Lookup,
                SelectListType = new byte[] {}
            });
            }
        </div>
        <!-- END  : Filter-->
        <div class="col-12">
            <span id="Ajaxloader" class="Ajaxloader d-none"></span>
        </div>
        <div class="Table-container">
            <table class="table">
                <thead>
                    <tr>
                        <td>RefId</td>
                        <td>Is Success</td>
                        <td>Amount</td>
                        <td>PaymentId</td>
                        <td>TransactionSource</td>
                        <td>TransactionType</td>
                        <td>CreatedAt</td>
                        <td>Attachment</td>
                        <td class="text-center">Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <partial name="_AllTransaction" model="Model.ObjDTOs" />
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10">
                            @{
                                await Html.RenderPartialAsync("_Pagination", new OptionDTO { Action = "AllTransaction", Controller = "Invoice", Count = Model.ObjDTOs != null ? Model.ObjDTOs.Count : 0 });
                            }
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- Add New GameCharge Model -->
    <div class="modal fade" id="AddGameCharge-Model" tabindex="-1" role="dialog" aria-labelledby="AddGameChargeLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div>
                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2 class="Model-Titel">Add New GameCharge</h2>
                    <form asp-action="AddGameCharge" asp-controller="GameCharge" class="needs-validation" enctype="multipart/form-data" id="AddGameCharge-Form" novalidate>
                        <div class="container-fluid P-Model">
                            <div class="row pt-2">
                                <div class="col-lg-6 pt-3">
                                    <label class="Label-Model">Price</label>
                                    <input class="input-Model" type="number" required placeholder="Price" name="Price" id="Price" />
                                    <div class="invalid-feedback">
                                        Please enter Price
                                    </div>
                                </div>
                                <div class="col-lg-6 pt-3">
                                    <label class="Label-Model">Count</label>
                                    <input class="input-Model" type="number" required placeholder="Count" name="Count" id="Count" />
                                    <div class="invalid-feedback">
                                        Please enter Count
                                    </div>
                                </div>
                                <div class="col-lg-6 pt-3">
                                    <label class="Label-Model">Discount</label>
                                    <input class="input-Model" type="number" required placeholder="Discount" name="Discount" id="Discount" />
                                    <div class="invalid-feedback">
                                        Please enter Discount
                                    </div>
                                </div>
                                <div class="col-lg-6 pt-3">
                                    <label class="Label-Model">Game</label>
                                    @Html.DropDownList("GameId", new SelectList(Model.Lookup.GameDTOs, "Id", "NameEn"), "--- Select Game ---",
                                             new { @required = "required", @class = "input-Model", name = "GameId", id = "GameId" })
                                    <div class="invalid-feedback">
                                        Please Select Game
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <button class="Red-Btn-OutLine OutLine-white Btn-Model mt-3" onclick="OpenFileInput('AddGameCharge-Form')" type="button">Upload Image</button>
                                    <input type="file" accept="image/*,.png,.jpg,.gif" id="ImgFile" name="File" class="form-control d-none Add-Photo" onchange="UpdateImgDisplay(event,'AddGameChargeImg')" placeholder="Photo">
                                </div>
                                <div class="row justify-content-center pt-3">
                                    <div> <img width="250" id="AddGameChargeImg" /> </div>
                                </div>
                                <div class="col-lg-12">
                                    <button class="Red-Btn-OutLine OutLine-Red Btn-Model" type="button" onclick="AddEntity('GameCharge','AddGameCharge','AddGameCharge-Form')" id="BtnSend">
                                        Add GameCharge
                                        <span class="Spinner spinner-border spinner-border-sm ml-2 mb-1 d-none" role="status" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

