
@using DicomApp.CommonDefinitions.Records;
@model List<CityDTO>
@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
    @if (Model != null && Model.Count() > 0)
{
  <table class="table">
    <thead>
        <partial name="_ReportHeder" model="11" />
            <tr>
                <th>#</th>
                <th>Arabic Name</th>
                <th>English Name</th>
                <th>Governorate</th>
            </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td>@Model[i].CityNameAr</td>
                <td>@Model[i].CityName</td>
                <td>@(Model[i].ZoneNameAr)</td>
            </tr>
        }
    </tbody>
  </table>
}