@using DicomApp.Portal.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<UserController> _stringLocalizer
@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_VendorLayout.cshtml";
}

<div class="ForgotPassword">
    <h2>@_stringLocalizer["forgotPasswordConfirmation"]</h2>
    <p> @_stringLocalizer["forgotPasswordConfirmationMessage"]</p>
</div>