
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.Helpers;
@using DicomApp.BL.Services;
@model ViewModel<UserDTO>
@{
    string connectionString = @Startup.Configuration["ConnectionStrings:DicomAppDBEntities"];
    long roleID = 0;
    if (User.Identity.IsAuthenticated)
    {
        //  roleID = AuthHelper.GetClaimValue(User, "RoleID");
        roleID = 0;
    }
}
<main>
    <div id="VendorsManagement-List">
        <div class="container-fluid site-width">
            <!-- START: Filter-->
            <div class="row Red-Row">
                <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                    <div class="sub-header mb-4 d-flex">
                        <div>
                            <span class="Header-Titel">Vendors Management</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="Shipment-container">
            <!-- Start: Filter-->
            <div class="row Red-Row">
                @{
                    await Html.RenderPartialAsync("_ToolsRow",
                    new OptionDTO { Action = "ListGamer",
                Controller = "User",
                Lookup = Model.Lookup,
                SelectListType = new byte[] { (byte)EnumSelectListType.Gamer }
            });
                }
                <div class="row Red-Row w-100">
                    <div class="col-lg-12 RedBtn-Section">
                        <b onclick="MenuNavigation(event,'GamerDetails','User')" class="Red-Btn"><img class="mr-2" src="~/dist/images/Icons/Vendor.png" />Add Gamer</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <span id="Ajaxloader" class="Ajaxloader d-none"></span>
        </div>
        <div class="Table-container">
            <table class="table" id="Red-Table">
                <thead>
                    <tr>
                        <td>Vendor</td>
                        <td class="Sort-Column">Join Date </td>
                        <td>Business Type</td>
                        <td class="text-center">Username</td>
                        <td>Password</td>
                        <td class="text-center">Logo</td>
                        <td class="text-center">Actions</td>
                    </tr>
                </thead>
                <tbody>
                    <partial name="_ListGamer" model="Model.ObjDTOs" />
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10">
                            @{
                                await Html.RenderPartialAsync("_Pagination", new OptionDTO { Action = "ListGamer", Controller = "User" });
                            }
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>

    <!-- Delete Vendor Model -->
    <div class="modal fade" id="DeleteVendor-Model" tabindex="-1" role="dialog" aria-labelledby="DeleteVendorLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div>
                    <button type="button" class="close m-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h2 class="Model-Titel w-50">are you sure you want to delete this profile?</h2>
                    <h5 class="Model-Contetn"> Deleting the selected Vendor is permanent. You won’t be able to undo this action.</h5>
                    <input type="hidden" id="EntityId" />
                    <div class="col-lg-12">
                        <button class="Red-Btn-OutLine OutLine-Red ml-3 Btn-Model" type="button" data-dismiss="modal"> Cancel</button>
                        <button class="Red-Btn-OutLine OutLine-White Btn-Model" type="button" data-dismiss="modal" onclick="DeleteEntity('User','DeleteUser','User_')" id="BtnDelete">Delete </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>