@using DicomApp.Portal.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<UserController> _stringLocalizer
@{
    ViewData["Title"] = "Reset Password Confirmation";
    Layout = "~/Views/Shared/_VendorLayout.cshtml";
}

<div class="ForgotPassword">
    <h2>@_stringLocalizer["forgotPassword"]</h2>
    <p>@_stringLocalizer["forgotPasswordMessage"] </p>
    <a asp-controller="User" asp-action="Login" class="btn btn-primary">@_stringLocalizer["login"]</a>
</div>