
@using DicomApp.CommonDefinitions.DTO;
@using DicomApp.Helpers;
@using DicomApp.BL.Services;
@model UserDTO

<main>
    <form id="Vendor-Form" asp-action="SaveVendor" asp-controller="User" method="post" class="needs-validation" novalidate>
        <input type="hidden" asp-for="Id">
        <div class="container-fluid site-width">
            <div class="Shipment-container">
                <div class="row Red-Row">
                    <div class="col-12 col-lg-12 col-xl-12 col-sm-12 Pickup-Header">
                        <div class="sub-header pb-2 pt-0">
                            <span class="Header-Titel">Vendor Details</span>
                        </div>
                    </div>
                    <div class="Shipment-Details-Section ql-transparent p-3">
                        <div class="col-lg-4 mb-3">
                            <label class="Shipment-Details-label mb-3">Email</label>
                            <input class="form-control" type="text" asp-for="Email" placeholder="Email" required>
                            <div class="invalid-feedback">
                                Please enter your Email
                            </div>
                        </div>
                        <div class="col-lg-4 mb-3">
                            <label class="Shipment-Details-label mb-3">Password</label>
                            <input class="form-control" type="password" asp-for="Password" placeholder="Password" required>
                            <div class="invalid-feedback">
                                Please enter your Password
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row Red-Row">
                    <div class="col-lg-4">
                        <h6 class="my-4 ml-2 font-w-500">Vendors Details</h6>
                        <div class="Shipment-Details-Section">
                            <div class="col-lg-12 mt-3 mb-2">
                                <label class="Shipment-Details-label mb-2">Vendor Name</label>
                                <input class="form-control" type="text" asp-for="Name" placeholder="Vendor Name" required>
                                <div class="invalid-feedback">
                                    Please enter Vendor Name
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2 mb-2">
                                <label class="Shipment-Details-label mb-2">Business Type</label>
                                <input class="form-control" type="text" asp-for="ProductType" placeholder="Business Type" required>
                                <div class="invalid-feedback">
                                    Please enter Business Type
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2 mb-2">
                                <label class="Shipment-Details-label mb-2">Phone Number</label>
                                <input class="form-control" type="number" asp-for="PhoneNumber" placeholder="Phone Number" required>
                                <div class="invalid-feedback">
                                    Please enter Phone Number
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2 mb-2">
                                <label class="Shipment-Details-label mb-2">Address</label>
                                <input class="form-control" type="text" asp-for="Address" placeholder="Address" required>
                                <div class="invalid-feedback">
                                    Please enter Address
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2 mb-2">
                                <label class="Shipment-Details-label mb-2">Location Url</label>
                                <input class="form-control" type="text" asp-for="LocationUrl" placeholder="Location Url">
                            </div>
                            <div class="col-lg-12 mt-2 mb-2">
                                <label class="Shipment-Details-label mb-2">Landmark</label>
                                <input class="form-control" type="text" asp-for="Landmark" placeholder="Landmark">
                            </div>
                            <div class="col-lg-6 mt-2 mb-2">
                                <label class="Shipment-Details-label mb-2">Floor</label>
                                <input class="form-control" type="number" asp-for="Floor" placeholder="Floor">
                            </div>
                            <div class="col-lg-6 mt-2 mb-2">
                                <label class="Shipment-Details-label mb-2">Apartment</label>
                                <input class="form-control" type="number" asp-for="Apartment" placeholder="Apartment">
                            </div>
                            <div class="col-lg-12 mt-2 mb-2">
                                <label class="Shipment-Details-label">Governament</label>
                                @Html.DropDownListFor(model => model.ZoneId, new SelectList(ViewBag.ZoneList, nameof(ZoneDTO.Id), nameof(ZoneDTO.NameAr)),"--- Select Governament ---", new { @class = "form-control select" ,@onchange="GetAreasByZone(event)"})
                                <div class="invalid-feedback">
                                    Please select governament.
                                </div>
                            </div>
                            <div class="col-lg-12 mt-2 mb-2">
                                <label class="Shipment-Details-label">Area</label>
                                <select asp-for="AreaId" class="form-control select"></select>
                                <div class="invalid-feedback">
                                    Please select area.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <h6 class="my-4 ml-2 font-w-500">Bank Account Details</h6>
                        <div class="Shipment-Details-Section pb-4">
                            <div class="row Red-Row">
                                <div class="col-lg-6 mt-2 mb-2">
                                    <label class="Shipment-Details-label mb-2">Bank Name</label>
                                    <input class="form-control" type="text" asp-for="Bank" placeholder="Bank Name">
                                </div>
                                <div class="col-lg-6 mt-2 mb-2">
                                    <label class="Shipment-Details-label mb-2">Account Name</label>
                                    <input class="form-control" type="text" asp-for="AccountName" placeholder="Account Name">
                                </div>
                                <div class="col-lg-6 mt-2 mb-2">
                                    <label class="Shipment-Details-label mb-2">Account Number</label>
                                    <input class="form-control" type="number" asp-for="AccountNumber" placeholder="Account Number">
                                </div>
                                <div class="col-lg-6 mt-2 mb-2">
                                    <label class="Shipment-Details-label mb-2">IBAN Number</label>
                                    <input class="form-control" type="number" asp-for="IBANNumber" placeholder="IBAN Number">
                                </div>
                            </div>
                        </div>
                        <h6 class="my-4 ml-2 font-w-500">Vodafone Cash Details</h6>
                        <div class="Shipment-Details-Section pb-4">
                            <div class="row Red-Row">
                                <div class="col-lg-6 mt-2 mb-2">
                                    <label class="Shipment-Details-label mb-2">Vodafone Cash Number</label>
                                    <input class="form-control" type="number" asp-for="VodafoneCashNumber" placeholder="Vodafone Cash Number">
                                </div>
                            </div>
                        </div>
                        <h6 class="my-4 ml-2 font-w-500">InstaPay Account Details</h6>
                        <div class="Shipment-Details-Section pb-4">
                           <div class="row Red-Row">
                                <div class="col-lg-6 mt-2 mb-2">
                                    <label class="Shipment-Details-label mb-2">InstaPay Account Name</label>
                                    <input class="form-control" type="text" asp-for="InstaPayAccountName" placeholder="InstaPay Account Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button class="Red-Btn-OutLine OutLine-white Btn-Model" onclick="OpenFileInput('Vendor-Form')" type="button">
                                Update logo
                            </button>
                            <img src="/dist/images/Partial.png" id="DisplayImg" width="200" class="d-none" onclick="OpenFileInput('Vendor-Form')" />
                            <input id="ImgFile" data-id="ImgFile" name="file" type="file" onchange="DisplayUpdateImg(event)" accept="image/gif, image/jpeg, image/png" hidden class="img" />
                        </div>
                    </div>
                </div>
                <div class="row Red-Row">
                    <div class="col-lg-12 col-12 ml-3 Buttons-Submit-Section">
                        <button type="submit" id="BtnSend" class="Red-Btn" style="background-color: limegreen">
                            <img class="mr-2" src="~/dist/images/Icons/Shipped.png" />Confirm
                            <span class="Spinner spinner-border spinner-border-sm ml-2 mb-1 d-none" role="status" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>