@using DicomApp.Portal.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<PaymentController> Localizer
@{
    ViewData["Title"] = "CancelPay";
    Layout = "~/Views/Shared/_VendorLayout.cshtml";
}
<div class="payment-container">
<div class="payment-success">
    <div class="header">
        <i class="ion-close-round close"></i>
    </div>
    <div class="body">
            <h2 class="title">@Localizer["paymentFail"]</h2>
        <img class="main-img" src="https://res.cloudinary.com/dw1zug8d6/image/upload/v1542777688/group-3_3x.png" alt="">
        <p>
            @Localizer["paymentFailMessage"]
        </p>
    </div>
</div>
</div>