
<style>
    .header-label {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        text-transform: capitalize;
        color: #000000;
        margin-bottom: 10px;
    }

    .body-label {
        font-family: 'Poppins';
        font-style: normal;
        font-size: 14px;
        color: #000000;
        margin-bottom: 30px;
    }
</style>

<main>
    <div class="container-fluid site-width">
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <p class="Shipment-Details-Titel-Small" style="font-size: 24px;">Privacy Policy</p>
            </div>
        </div>
    </div>
    <div class="Shipment-container">
        <div style="width:95%">
            <div class="row Red-Row ml-4 Shipment-Details-Section">
                <h3 class="header-label col-12 mt-3">Introduction</h3>
                <p class="body-label col-12">Welcome to Red Courier, where we value your privacy. This Privacy Policy explains what information we collect and why we collect it. Your data will be handled in good faith. Red Courier app is made to help our couriers to recieve shipments from vendors and deliver them to customers thourght our mobile application.</p>

                <h3 class="header-label col-12">Information Collection and Use</h3>
                <p class="body-label col-12 mb-2">
                    The information we collect are
                    <ul>
                        <li class="body-label mb-2">Email</li>
                    </ul>
                </p>

                <p class="body-label col-12">collected for courier authentication and account management. Couriers need to sign in to our app with their accounts So every courier can receive and deliver shipments assigned to him.</p>

                <h3 class="header-label col-12">Cookies</h3>
                <p class="body-label col-12">our app doesn't use any cookies.</p>

                <h3 class="header-label col-12">Security</h3>
                <p class="body-label col-12">We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>

                <h3 class="header-label col-12">Children’s Privacy</h3>
                <p class="body-label col-12">
                    The Company does not knowingly collect or solicit personal information from children under 13. our app is intended for users above 18.
                </p>

                <h3 class="header-label col-12">Changes to This Privacy Policy</h3>
                <p class="body-label col-12">We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.</p>

                <h3 class="header-label col-12">Security Measures</h3>
                <p class="body-label col-12">
                    Red Express is built with reliable security features that continuously protect your information. We keep detecting and automatically blocking security threats from ever reaching you. We work hard to protect you from unauthorized access, alteration, disclosure, or destruction of information we hold, including:
                    <ul>
                        <li class="body-label mb-2">
                            We use encryption to keep your data private while in transit.
                        </li>
                        <li class="body-label mb-2">
                            We review our information collection, storage, and processing practices, including physical security measures, to prevent unauthorized access to our systems.
                        </li>
                        <li class="body-label mb-2">
                            We restrict access to personal information to our employees, contractors, and agents who need that information in order to process it. Anyone with this access is subject to strict contractual confidentiality obligations and may be disciplined or terminated if they fail to meet these obligations.
                        </li>
                    </ul>
                </p>

                <h3 class="header-label col-12">Contact Us</h3>
                <p class="body-label col-12">
                    If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.
                    Contact Information:
                    Email: redexpress.distribution@gmail.com
                </p>

            </div>

        </div>
    </div>
</main>