
@using LegendCR.CommonDefinitions.DTO;
@using LegendCR.CommonDefinitions.DTO.ShipmentDTOs;
@using LegendCR.Helpers;
@model ViewModel<ShipDTO>
<main>
    <div class="container-fluid site-width">
        <!-- START: Filter-->
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header py-5">
                    <div>
                        <span class="Header-Titel">Customer followup</span>
                    </div>
                </div>
                <div class="Box-Info">
                    <div>
                        <span class="Yellow-info-Bg"><img src="~/dist/images/Icons/Issues.png"></span>
                        <p>Total Issues</p>
                        <b>@(Model.ObjDTOs.Where(p => p.ProblemDTOs.Count() > 0) != null ? Model.ObjDTOs.Sum(s => s.ProblemDTOs.Count()) : 0)</b>
                        <img class="Img-Tag-info" src="~/dist/images/Tag.png">
                    </div>
                    <div>
                        <span class="Yellow-info-Bg"><img src="~/dist/images/Icons/Pending.png"></span>
                        <p>Pending Issues</p>
                        <b>@(Model.ObjDTOs.Where(p => p.ProblemDTOs.Count() > 0) != null ? Model.ObjDTOs.Sum(s => s.ProblemDTOs.Where(w => !w.IsSolved).Count()) : 0)</b>
                        <img class="Img-Tag-info" src="~/dist/images/Tag.png">

                    </div>
                    <div>
                        <span class="Yellow-info-Bg"><img src="~/dist/images/Icons/Solved.png"></span>
                        <p>Solved Issues</p>
                        <b>@(Model.ObjDTOs.Where(p => p.ProblemDTOs.Count() > 0) != null ? Model.ObjDTOs.Sum(s => s.ProblemDTOs.Where(w => w.IsSolved).Count()) : 0)</b>
                        <img class="Img-Tag-info" src="~/dist/images/Tag.png">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Filter-->
    <div class="Shipment-container">
        <!-- Start: Filter-->
        <div class="row Red-Row">
            @{
                await Html.RenderPartialAsync("_ToolsRow", new OptionDTO
            {
                Action = "CustomerFollowup",
                Controller = "Report",
                Lookup = Model.Lookup,
                SelectListType = new byte[] {
            (byte)EnumSelectListType.Vendor,
            (byte)EnumSelectListType.Status
            }
            });
            }
        </div>
        <!-- END  : Filter-->
    </div>
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    <div class="Table-container">
        <table class="table" id="Red-Table">
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Vendor</td>
                    <td>Date</td>
                    <td>Customer</td>
                    <td>service </td>
                    <td>COD</td>
                    <td>Call History</td>
                    <td>Status</td>
                    <td>recommendation</td>
                </tr>
            </thead>
            <tbody>
                <partial name="/Views/Report/CustomerFollowup/_CustomerFollowup.cshtml" model="Model.ObjDTOs" />
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="10">
                        @{
                            await Html.RenderPartialAsync("_Pagination", new OptionDTO
            {
                Action = "CustomerFollowup",
                Controller = "Report",
                Count = Model.ObjDTOs != null ? Model.ObjDTOs.Count : 0
            });
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="ShipmentDetails" tabindex="-1" aria-labelledby="ShipmentDetailsLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div id="ShipmentDetails-Body" class="modal-body">
                    <div class="spinner-border text-danger d-block m-auto" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START: Card Data-->
</main>