
@using DicomApp.CommonDefinitions.DTO.AdvertisementDTOs
@using DicomApp.CommonDefinitions.DTO
@using DicomApp.Helpers
@using DicomApp.BL.Services
@model ViewModel<AdsDTO>
@{
    string connectionString = @Startup.Configuration["ConnectionStrings:DicomAppDBEntities"];
    long roleID = 0;
    if (User.Identity.IsAuthenticated)
    {
        roleID = AuthHelper.GetClaimValue(User, "RoleID");
    }
    var canassign = BaseService.CheckRoleAccessability(roleID, "AssignOrderList", connectionString: connectionString);
}
<main>
    <div class="container-fluid site-width">
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header py-5 d-flex">
                    <div>
                        <span class="Header-Titel">Assign Shipments</span>
                    </div>
                    <div class="Shipment-Filter">
                        <ul id="Shipment-Filter-Ul">
                            <li id="All" class="Active" data-status="@((int)EnumStatus.Ready_For_Delivery)"><a onclick="FilterByStatus('Assign','Shipment','All',@((int)EnumStatus.Ready_For_Delivery))" href="javascript:;">All</a></li>
                            <li id="Confirmed-Shipments">Confirmed Shipments</li>
                            <li id="Unconfirmed-Shipments">Unconfirmed Shipments</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Shipment-container">
        <div class="row Red-Row">
            @{
                await Html.RenderPartialAsync("_ToolsRow", new OptionDTO 
                { Action = "Assign", 
                Controller = "Shipment",
                Lookup = Model.Lookup, 
                SelectListType = new byte[] { (byte)EnumSelectListType.Area } });
            }
        </div>
    </div>
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    <div class="Table-container">
        <table class="table">
            <partial name="_Assign" model="@Model" />
        </table>
    </div>
</main>
