@using DicomApp.CommonDefinitions.DTO.CashDTOs
@using DicomApp.CommonDefinitions.DTO
@using DicomApp.Helpers
@model List<TreasuryDTO>
<main>
    <div class="container-fluid site-width">
        <div class="row Red-Row">
            <div class="col-12 col-lg-12 col-xl-12 col-sm-12">
                <div class="sub-header">
                    <span class="Header-Titel">Treasury</span>
                </div>
            </div>
        </div>
    </div>
    <div class="Shipment-container">
        <div class="row Red-Row">
            @{
                // await Html.RenderPartialAsync("_ToolsRow", new OptionDTO { Action = "Cash", Controller = "Invoice", SelectListType = new byte[] { (byte)EnumSelectListType.Vendor } });
            }
        </div>
    </div>
    <div class="col-12">
        <span id="Ajaxloader" class="Ajaxloader d-none"></span>
    </div>
    <div class="Table-container">
        <table class="table" id="Table">
            <partial name="_Treasury" model="@Model" />
        </table>
    </div>
</main>